<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109272617158-ahr90mt7biqijtdjebbf1b1c3ibj9gap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109272617158-ahr90mt7biqijtdjebbf1b1c3ibj9gap</string>
	<key>API_KEY</key>
	<string>AIzaSyBBb6R_EH0Kz16a9Hk6gj9vvhU3vshS4Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>109272617158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-761a4</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-761a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109272617158:ios:cbd42745b3918b562f87c7</string>
</dict>
</plist>